name: Build Example
on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
      - name: Install dependencies
        run: npm install
      - name: Show contents
        run: ls -alhR
      - name: Bundle app into zip
        run: |
          zip -r app-bundle.zip . -x "*.git*" ".github/*"
      - name: Run tests
        run: npm test
      - name: Upload test report
        if: success() || failure()
        uses: actions/upload-artifact@v4
        with:
          name: test-report
          path: reports/test-report.xml
